<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>registerForm</title>
</head>
<body>
    <h1>
		<center>
			単語登録失敗、、、
		    <form method="post" action="/htmlRegister">
		        <label for="term">単語:</label>
		        <input type="text" id="term" name="term"><br><br>
		        <label for="description">説明:</label>
		        <input type="text" id="description" name="description"><br><br>
		        <input type="submit" value="登録">
		    </form>
		     <form method="get" action="/question">
				<button type="submit">問題出題画面</button>
			</form>
		</center>
	</h1>
</body>
</html>